.notes-card {
  width: 100%;
  min-height: 200px;
  margin: auto;
  cursor: move;
}

mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions {
  display: flex;
  gap: 4px;
}

.content {
  margin-bottom: 16px;
  min-height: 80px;
  white-space: pre-wrap;
}

.edit-content {
  margin-bottom: 16px;
}

.full-width {
  width: 100%;
}

.tags {
  margin-bottom: 8px;
}
