<div class="sticky-cards-container">
  <div class="header">
    <h1>Make IT a great day!</h1>
    
  </div>
  <div>
    <div class="row-flex">
      <div class="wide-card cardBlank">
        <div class="card-header">
          <h2>Weather</h2>
        </div>
        <div class="card-content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div> 

      <div class="small-card cardBlank">
        <div class="card-header">
          <h2>Notes</h2>
        </div>
        <div class="card-content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
    </div>
    <div class="row-flex">
      <div class="small-card cardBlank">
        <div class="card-header">
          <h2>08:22</h2>
        </div>
        <div class="card-content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
      <div class="wide-card cardBlank">
        <div class="card-header">
          <h2>News</h2>
        </div>
        <div class="card-content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
    </div>
  </div>
  
</div>
